body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  width: 400px;
  height: 500px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.container input {
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: none;
}

.container .addtask {
  width: 300px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: chocolate;
  color: white;
  cursor: pointer;
}
.btn{
  background: none;
  border: none;
}